<a href="https://colab.research.google.com/github/agungibr/laporan-praktek/blob/main/pertemuan4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Operator Aritmatika

x = 9
y = 2

print("x + y :", x+y) #zzPenjumlahan
print("x - y :", x-y) #Pengurangan
print("x * y :", x*y) #Perkalian
print("x / y :", x/y) #Pembagian (Menghasilkan bilangan pecahan)
print("x // y :", x//y) #Pembagian (Menghasilkan bilangan bulat
print("x % y :", x%y) #Modulus (Sisa Pembagian)
print("x ** y :", x**y) #Perpangkatan

x + y : 11
x - y : 7
x * y : 18
x / y : 4.5
x // y : 4
x % y : 1
x ** y : 81

In [2]:
#Operator Perbandingan

x = 5
y = 4

print("x > y :", x>y) #zzPenjumlahan
print("x < y :", x<y) #zzPenjumlahan
print("x == y :", x==y) #zzPenjumlahan
print("x != y :", x!=y) #zzPenjumlahan
print("x >= y :", x>=y) #zzPenjumlahan
print("x <= y :", x<=y) #zzPenjumlahan

x > y : True
x < y : False
x == y : False
x != y : True
x >= y : True
x <= y : False

In [3]:
#Menginputkan nilai 8 di a
a = 8

In [4]:
#Menambahkan dengan 2
a += 2

#Menampilkan hasil nilai a ditambah dengan 2
print(a)

10

In [5]:
#Mengurangi dengan 3
a -= 3

#Menampilkan hasil nilai a dikurangi dengan 3
print(a)

7

In [6]:
#kali 10
a *= 10

#Menampilkan hasil nilai a dibagi dengan 4
print(a)

70

In [7]:
#Membagi dengan 4
a /= 4

#Menampilkan hasil nilai a dibagi dengan 4
print(a)

17.5

In [8]:
#Memangkatkan 2
a **= 2

#Menampilkan hasil nilai a dipangkatkan dengan 2
print(a)

306.25

In [9]:
#Berapakah nilai a sekarang?
print("Nilai a adalah :", a)

Nilai a adalah : 306.25

In [10]:
#Operator Logika

x = True
y = False

#logika and
z = x and y
print("True and False :", z)

#Logika or
z = x or y
print("True and False :", z)

#Logika not
z = not x
print("Not True   :", z)

True and False : False
True and False : True
Not True   : False

In [11]:
#Operator Keanggotaaan

#Operator in
x = [1,5,9]
y = 5
print("y in x  :", y in x)

#Operator not in
x = [1,5,9]
y = 5
print("y not in :", y not in x)

y in x  : True
y not in : False

In [ ]:
#operator Indentitas

#Operator is
x = 4
y = x
print("y adalah x :", y is x)

#Operator is not
a = 10
b = 4
print("b is not a :", b is not a)