<a href="https://colab.research.google.com/github/agungibr/laporan-praktek/blob/main/uts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [37]:
print("==========Program Harga Baju SWALAYAN BAHAGIA==========")

harga = float(input("Masukan harga baju : "))

if harga >= 20000 and harga <=70000:
  print("Selamat, anda mendapatkan diskon 10% yang berkategori sangat murah")

elif harga >= 71000 and harga <=100000:
  print("Selamat, anda mendapatkan diskon 20% yang berkategori murah")

elif harga >= 101000 and harga <=125000:
  print("Selamat, anda mendapatkan diskon 30% yang berkategori standart")

elif harga >= 126000 and harga <=175000:
  print("Selamat, anda mendapatkan diskon 40% yang berkategori mahal")

elif harga >= 176000 and harga <=500000:
  print("Selamat, anda mendapatkan diskon 50% yang berkategori luxury")

else :
   print("Mohon maaf, anda tidak mendapatkan diskon")

==========Program Harga Baju SWALAYAN BAHAGIA==========
Masukan harga baju : 180000
Selamat, anda mendapatkan diskon 50% yang berkategori luxury

In [32]:
print("==========Program Harga Baju SWALAYAN BAHAGIA==========")

baju = int(input("Masukan kode baju : "))

if baju == 1:
  harga = '45.000'
  print("Baju 1 mempunyai harga Rp.", harga)
elif baju == 2:
  harga = '105.000'
  print("Baju 2 mempunyai harga Rp.", harga)
elif baju == 3:
  harga = '250.000'
  print("Baju 3 mempunyai harga Rp.", harga)
elif baju == 4:
  harga = '80.000'
  print("Baju 4 mempunyai harga Rp.", harga)
else :
  print("Kode baju tidak tersedia, silahkan masukan kode kembali")

==========Program Harga Baju SWALAYAN BAHAGIA==========
Masukan kode baju : 6
Kode baju tidak tersedia, silahkan masukan kode kembali

In [69]:
print("==========Program Harga Baju SWALAYAN BAHAGIA==========")

kode = int(input("Masukan kode baju: "))

if kode == 1:
  harga = 45000
  diskon = 10

elif kode == 2:
  harga = 105000
  diskon = 30

elif kode == 3:
  harga = 350000
  diskon = 50

elif kode == 4:
  harga = 80000
  diskon = 20

else :
   print("Maaf, kode yang anda masukan salah")

akhir = harga - (harga * diskon / 100)

if harga >=20000:
  print("Harga baju",kode,"seharga",harga,"setelah diskon", diskon,"% yaitu",akhir)
else :
  print("Mohon maaf anda tidak mendapat diskon")

==========Program Harga Baju SWALAYAN BAHAGIA==========
Masukan kode baju: 4
Harga baju 4 seharga 80000 setelah diskon 20 % yaitu 64000.0

In [76]:
print("==========Program Harga Baju SWALAYAN BAHAGIA==========")

baju1 = 45000
baju2 = 105000
baju3 = 250000
baju4 = 80000

akhir = baju1 + baju2 + baju3 + baju4

print("Total belanja ibu Santi sebelum diskon yaitu", akhir)

==========Program Harga Baju SWALAYAN BAHAGIA==========
Total belanja ibu Santi sebelum diskon yaitu 480000

In [75]:
print("==========Program Harga Baju SWALAYAN BAHAGIA==========")

diskon1 = 10
diskon2 = 30
diskon3 = 50
diskon4 = 20

total = diskon1 + diskon2 + diskon3 + diskon4

print("Total yang diskon yang didapat Ibu Santi",total)

==========Program Harga Baju SWALAYAN BAHAGIA==========
Total yang diskon yang didapat Ibu Santi 110

In [74]:
print("==========Program Harga Baju SWALAYAN BAHAGIA==========")

harga1 = int(input("Masukan harga baju 1 :"))
harga2 = int(input("Masukan harga baju 2 :"))
harga3 = int(input("Masukan harga baju 3 :"))
harga4 = int(input("Masukan harga baju 4 :"))

diskon1 = 10
diskon2 = 30
diskon3 = 50
diskon4 = 20

akhir1 = harga1 - (harga1 * diskon1 / 100)
akhir2 = harga2 - (harga2 * diskon2 / 100)
akhir3 = harga3 - (harga3 * diskon3 / 100)
akhir4 = harga4 - (harga4 * diskon4 / 100)

total = akhir1 + akhir2 + akhir3 + akhir4

print("Total yang diskon yang didapat Ibu Santi",total)

==========Program Harga Baju SWALAYAN BAHAGIA==========
Masukan harga baju 1 :45000
Masukan harga baju 2 :105000
Masukan harga baju 3 :250000
Masukan harga baju 4 :80000
Total yang diskon yang didapat Ibu Santi 303000.0